@lightgrey: #f3f3f9;
@lightred: #f79f9f;
@blue: #6495ff;

@font-face {
  font-family: 'GoodDog';
  src: url('GoodDog.otf');
}

body {
  margin: 0;
  background: @lightgrey;
  font-size: 1.2em;
  font-family: "GoodDog", sans-serif;
}

h1, h3 {
  line-height: 50px;
  margin: 0;
  text-align: center;
}

#header {
  text-shadow: 1px 1px white;
  color: darken(@lightgrey, 20%);
  padding: 20px;
  text-align: center;
  h2 {
    margin: 0;
    font-size: 48px;
  }
}

i {
  color: darken(@lightgrey, 20%);
}

p.empty {
  i {
    margin: 38px 10px;
  }
}

.del-btn {
  background: white;
  border: 1px solid #d3d3d9;
  border-radius: 3px;
  vertical-align: 4px;
  cursor: pointer;
  i {
    color: @lightred;
  }
  &:hover {
    i {
      color: darken(@lightred, 20%);
    }
  }
}

#content {
  background: white;
  overflow: hidden;
}

#footer {
  font-family: sans-serif;
  color: darken(@lightgrey, 20%);
  font-size: 13px;
  text-shadow: 1px 1px white;
  margin: 20px;
  text-align: right;
  clear: both;
}

p.empty {
  line-height: 80px;
  font-size: 30px;
}

table {
  width: 100%;
  font-size: 1.3em;
  border-spacing: 0;
  margin-bottom: 20px;
  tr {
    &:nth-child(even) {
      background: lighten(@lightgrey, 2%)
    }
  }
  td {
    border-bottom: solid 1px @lightgrey;
    padding: 5px;
    text-align: right;
    &:first-child {
      text-align: left;
      padding-left: 10px;
    }
  }
}

input[type=checkbox] {
  vertical-align: 3px;
}

button {
  font-family: "GoodDog", sans-serif;
}

.lists {
  float: left;
  width: 25%;

  .list {
    cursor: pointer;
    &:hover {
      color: @blue;
    }
  }
}

.items {
  float: left;
  width: calc(75% - 1px);
  border-left: 3px solid @lightgrey;
}

.columns {
  overflow: hidden;
  .column {
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }
}

.list-enter {
  background: #FABE70;
}
.list-enter-active {
  background: none;
  transition: background 1.2s;
}
.list-leave {
  opacity: 0;
  transition: opacity 0.2s;
}
.list-leave-active {
  opacity: 0;
}

label{
  font-size: .8em;
}

.large-spinner {
  font-size: 42px;
  text-align: center;
  padding: 100px;
}

form.add {
  position: relative;
  padding: 20px;
  input[type=text] {
    width: calc(100% - 20px);
    font-size: 18px;
    padding: 3px;
    vertical-align: -1px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
  }
  button[type=submit] {
    font-size: 20px;
    background: #f3f3f9;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
}
