body {
  margin: 0;
  background: #f3f3f9;
  font-size: 1.2em;
  font-family: sans-serif;
}

h1, h3 {
  line-height: 50px;
  margin: 0;
}

#header {
  background: #c3d6e9;
  padding: 20px;
  text-align: center;
}

#content {
  background: white;
  overflow: hidden;
}

#footer {
  color: #999;
  margin: 20px;
  text-align: right;
  clear: both;
}

p.empty {
  line-height: 80px;
  font-size: 30px;
}

table {
  p.empty {
    line-height: 50px;
    font-size: 18px;
    text-indent: 50px;
  }
}

.lists {
  padding: 10px;
  float: left;
  width: 25%;

  ul {
    li {
      padding: 5px;
      cursor: pointer;
      &:hover {
        background: #d3e6f9;
      }
    }
  }
}

.items {
  padding: 10px;
  float: right;
  width: 70%;
  border-left: 3px solid #f3f3f9;
}

label{
  font-size: .8em;
}

// .util {
//   float: right;
//   margin-right: 10px;
// }

// button.delete {
//   padding: 5px;
//   font-size: .8em;
// }
// button.show-add {
//   padding: 0px 6px 3px 6px;
//   text-align: 3px;
//   vertical-align: 4px;
//   font-size: .7em;
// }
form.add {
  // display: none;
  position: relative;
  padding: 20px;
  input[type=text] {
    // box-sizing: border-box;
    // display: block;
    // width: calc(100% - 100px);
    // padding: 4px;
    // margin-right: 0;
    // float: left;
    // border-radius: 3px 0 0 3px;
    // border: 1px solid #ccc;
    width: 200px;
  }
  input[type=submit] {
    // outline: none;
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    // padding: 5px 10px;
    // width: 60px;
    // border: 1px solid #477dca;
    // border-left: none;
  }
}
